.btn-garden-bloomy {
    background-color: var(--color-secondary);     
    color: #ffffff;            
    padding: 1rem 1.25rem;     
    border-radius: 0.75rem;         
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
    transition: all 0.3s ease;       
}

.btn-garden-bloomy:hover {
    background-color: var(--color-secondary-bis); 
}