@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

@import "./variables.css";

h1 {
    font-size: var(--text-3xl);
    font-family: var(--font-ananda);
    color: var(--color-primary);
    font-weight: bold;
}

p {
    font-size: var(--text-sm);
    font-family: var(--font-roboto);
    /* color: var(--text-dark); */
}