/*  HEADER  */
.mygarden-header {
    padding: 1rem 1.5rem; 
    border-bottom: 1px solid #D1FAE5; 
}

.mygarden-header h1 {
    font-family: 'test-font', sans-serif; 
    font-size: 32px; 
    font-weight: 700; 
    color: #1F2937; 
}

.mygarden-header button {
    color: #16A34A; 
    font-weight: 500; 
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.mygarden-header button:hover {
    color: #15803D; 
}

.mygarden-header button svg {
    font-size: 1.5rem; 
}

/* MES JARDINS */
.mygarden-main {
    flex: 1;
    padding: 15px 24px;
    overflow: auto;
}
/* --- Liste Jardins */
.garden-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 12px;
    padding: 1rem 0;
    overflow-x: auto;
    overflow-y: hidden; 
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

.garden-list::-webkit-scrollbar {
    display: none;
}

.garden-card {
    position: relative;
    width: 110px;
    height: 110px;
    flex-shrink: 0;
    border-radius: 0.75rem;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0.5rem;

    transition: transform 0.18s ease, box-shadow 0.18s ease;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}

.garden-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.25);
}

.garden-img-bg {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    filter: brightness(60%);
}

.garden-img-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, transparent 30%, rgba(0,0,0,0.65) 100%);
}

.garden-name {
    position: relative;
    z-index: 3;
    color: white;
    font-weight: 600;
    font-size: 0.85rem;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
}


/* --- Section statistiques */
.garden-stats {
    margin-top: 15px;
    width: 100%;
}

.garden-stats h2 {
    font-size: 25px; 
    font-weight: 400; 
    color: #1F2937;  
    text-align: left;
    margin-bottom: 20px;
    width: 100%; 
}

.stats-card {
    border: 1px solid #E5E7EB; 
    border-radius: 0.75rem; 
    padding: 1rem; 
    text-align: center;
    color: #6B7280; 
    max-width: 28rem; 
    margin-bottom: 15px;
}

.stats-card p {
    color: #858585 ;
}

.garden-stats img {
    margin-top: 1rem;
}

/* --- Etat vide */
.empty-garden {
    gap: 1rem;
    margin-top: 2.5rem;
}

.empty-garden p {
    font-size: 1rem;
}

@media (min-width: 768px) {
  .garden-list {
    scrollbar-width: thin; /* Firefox */
  }
  
  .garden-list::-webkit-scrollbar {
    display: block;
    height: 6px;
  }
  
  .garden-list::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.25);
    border-radius: 999px;
  }
}