:root {
    /* Couleurs */

    /* Typographie */

    /* Tailles de texte */
    --text-xs: 0.75rem; /* 12px */
    --text-sm: 0.875rem; /* 14px */
    --text-base: 1rem; /* 16px */
    --text-lg: 1.25rem; /* 20px */
    --text-xl: 1.5rem; /* 24px */
    --text-2xl: 1.75rem; /* 28px */
    --text-3xl: 2rem; /* 32px */

    /* Espacements */
    --space-xs: 0.25rem; /* 4px */
    --space-sm: 0.5rem; /* 8px */
    --space-md: 1rem; /* 16px */
    --space-lg: 2rem; /* 32px */
    --space-xl: 4rem; /* 64px */
}