services:

  db:
    image: postgres:latest
    container_name: postgres_container_bloomy

    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - 5432:5432
    volumes:
      - postgres_db:/var/lib/postgresql/data

  api:
    build:
      context: ./api
    container_name: api_bloomy_container
    ports:
      - 3000:3000
    volumes:
      - ./api:/app
      - /app/node_modules
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
    depends_on:
      - db

  client:
    build:
      context: ./client
    container_name: client_container
    ports:
      - 5173:80
    restart: unless-stopped
    volumes:
      - ./client:/app
      - /app/node_modules
    depends_on:
      - api

volumes:
  postgres_db: