.banner {
    background: linear-gradient(to left, #438122, #5cb12f); 
    padding: var(--space-lg1) var(--space-xl1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.banner h1 {
    color: white;
    font-size: var(--text-4xl);
}

.custom-title {
    font-family: var(--font-bebas-neus);  
    letter-spacing: -0.5px;  
    line-height: 1;      
}

.plant-list-space {
    padding-bottom: 20px;
}

/* Conteneur du bouton fixe */
.fixed-button-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: var(--space-md3) var(--space-md1); 
    background-color: white; 
    box-shadow: 0 -2px 6px rgba(255, 255, 255, 0.466);
    z-index: 1000;
}

.main-content-padding {
    padding-bottom: 80px; 
}